{
  "env": {
    "es6": true
  },
  "rules": {
    "no-var": "error",
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "no-extra-semi": "error",
    "semi-spacing": ["error", {"before": false, "after": true}],
    "semi-style": ["error", "last"],
    "indent": ["error", 2],
    "no-multi-spaces": "error"
  }
}
